body{
    background-color: rgb(112, 142, 153);
}
img{width: 550px;}
header{
    /* cor de fundo*/
    background-color: rgb(22, 62, 78);
    /*cor de texto*/
    color: rgb(240, 248, 248);
    /*alinhamento do texto*/
    text-align: center;
    /*preenchimento*/
    padding: 5px; 
}
footer{background-color: rgb(22, 62, 78);
        color: rgb(240, 248, 248);
        text-align: center;
        padding: 2px;


}